# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle and Kotlin
.gradle/
.kotlin/
**/build/
!src/**/build/
gradle-app.setting
.gradletasknamecache

# Local configuration
local.properties

# Native build output
cmake-build-*/

# macOS
.DS_Store
